/* .imagem__newsletter {
    position: absolute;
    top: 0;
    left: 450px;
    bottom: 0;
    right: 0;
    width: auto;
    height: auto;
    background: url(../images/illustration-sign-up-desktop.svg);
} */

body {
    background: hsl(234, 29%, 20%);
    height: 100vh;
    font-family:'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    background: hsl(0, 0%, 100%);
    border-radius: 10px;
    width: 70%;
    height: 80%;
}

.sign-up {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 4.5rem 3rem 3rem 4rem;
}

.sign-up__title {
    padding: .5rem 0;
    font-size: 36px;
    font-weight: bold;
    color:hsl(234, 29%, 20%);
}

span p, .sign-up__receive {
    font-size: 18px;
    line-height: 1.2;
}

span p {
    padding: 1.25rem 0;
}


.container{
    display: flex;
    padding: .5rem 0;
}
.container img {
    padding: 0 1rem 0 0;    
}

.sign-up__form {
    text-align: start;
    padding: 2rem 0 0;
}

.sign-up__form label {
    font-size: 14px;
    color:hsl(233, 41%, 34%);
}

.sign-up__form input {
    border: 2px solid hsl(231, 7%, 60%);
    border-radius: 7px;
    padding: 1rem;
    width: 100%;
    margin: .5rem 0 .75rem 0;
}

.sign-up__form button {
    font-weight: bold;
    color: #FDFDFD;
    margin: 1rem 0;
    padding: 1rem 3rem;
    width: 100%;
    background: hsl(233, 41%, 34%);
}

.imagem__newsletter {
    width: 50%;
    margin: 1rem;
    display: flex;
    background: url(../images/illustration-sign-up-desktop.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    border-radius: 15px;
}