
/* .imagem__newsletter {
    position: absolute;
    top: 0;
    left: 450px;
    bottom: 0;
    right: 0;
    width: auto;
    height: auto;
    background: url(../images/illustration-sign-up-desktop.svg);
} */

body{
    background: hsl(235, 18%, 26%);
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    
}

main {
    display: flex;
    filter: drop-shadow(0 25px 25px rgb(0 0 0 / 0.15));
    background: hsl(0, 0%, 100%);
    border-radius: 10px;
    width: 60%;
    height: 70%;
    flex-wrap: nowrap;
}

.sign-up {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    padding: 3rem 2rem;
    text-align: justify;
}

.sign-up p {
    padding:  .5rem 0;
}

.sign-up__form {
    text-align: start;
}

.imagem__newsletter {
    width: 50%;
}

.imagem__newsletter img{
    width: 100%;
    height: 100%;
    padding: 1rem;
}

